body{
    background-color: #292a2b;
}

/* ceci est un commentaire css */

.header{
    font-size: 75px;
    color: blue;
    margin-top: 3%;
    margin-left: 10%;
    text-shadow: 1px 2px 1px black;
    font-weight: bold;
}

.home{
    width:35px;
    height:35px;
}

p{
    font-size: 13px;
    margin-top: 3%;
    margin-left: 10%;
    color: whitesmoke;
}

footer{
    font-family: "Noto Sans HK", serif;
    font-size: 15px;
    margin-top: 3%;
    margin-left: 10%;
}
