body{
    background-color: #292a2b;
}

/* ceci est un commentaire css */

header{
    font-size: 75px;
    color: blue;
    margin-top: 3%;
    margin-left: 10%;
    text-shadow: 1px 2px 1px black;
    font-weight: bold;
}

.home{
    width:35px;
    height:35px;
}


div{
    border: solid 1px;
    padding: 10px;
    background-color: #292a2b;
    color: whitesmoke;
}

/* .position{
    position: relative;
    top: 50px;
} */
  
  div:nth-child(even) {
    background-color: yellow;
    color: black;
  }

.container{
    display: flex;
    flex-direction: row;
}

.flex-child{
    flex: 2;
}
