html {
    scroll-behavior: smooth;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */


body{
    background-color: #1e2125;
}

.titre{
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 75px;
}

.home{
    width:30px;
    height:30px;
    filter: invert(0.9);
    display: flex;
    justify-content: center;
}

footer div,
main div{
    padding: 10px;
    color: whitesmoke;
} 

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */


nav{
    background-color: #0F1012;
    color: whitesmoke;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}

nav a:hover{
    color: black;
}

.navig,
nav li{
    border-radius: 2.5px;
}


.navig:hover,
nav li:hover{
    background-color: rgba(255, 255, 255, 0.6);
}


nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.navig1{
    margin-right: 20px;
}

/* /////////////////////////////////////////////////////////////////////////////////////////// */


footer{
    display: flex;
    flex-direction: column;
}

.footer2{
    background-color: #0F1012;
}

.homefoot{
    display: flex;
    justify-content: center;
}

.credit {
    font-size: 15px;
    text-decoration: none;
    color: whitesmoke;
    margin-left: 20px;
    font-style: italic;
}

.iconsgithub{
    filter: invert(1);
    height: 35px;
    width: 35px;
    margin-left: 20px;
}


/* /////////////////////////////////////////////////////////////////////////////////////////// */


#scrollToTopButton {
    transition: background-color 0.2s, opacity 0.4s, visibility 0.4s;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    background-color: #27292b;
  }
  
  #scrollToTopButton:hover,
  #scrollToTopButton:focus,
  #scrollToTopButton:focus-within {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
    filter: none;
  }
  
  #scrollToTopButton img.i {
    width: 20px;  
    height: 20px;  
    filter: invert(1);  
  }

  #scrollToTopButton:hover img.i {
    filter: none;
  }
  
  /* /////////////////////////////////////////////////////////////////////////////////////////// */